name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        java:
          - 11
    steps:
      - uses: actions/checkout@v2
      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Make gradle wrapper script executable
        if: startsWith(${{ matrix.os }}, 'ubuntu') || startsWith(${{ matrix.os }}, 'macos')
        run: chmod +x gradlew
      - name: Run Gradle build
        shell: bash
        run: | # brotli is not currently supported for mac so tests are excluded on macos
          ./gradlew --warning-mode=all -PenableErrorprone build \
          `if [[ "${{ matrix.os }}" == macos* ]]; then echo '-x :methanol-brotli:test'; fi`

  publish_snapshot:
    name: Publish snapshot artifacts
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2
      - name: Setup Java 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Make gradle wrapper script executable
        run: chmod +x gradlew
      - name: Run Gradle publish
        env:
          ORG_GRADLE_PROJECT_nexusUsername: ${{ secrets.nexusUsername }}
          ORG_GRADLE_PROJECT_nexusPassword: ${{ secrets.nexusPassword }}
        run: ./gradlew --warning-mode=all publish -x check

  coverage_report:
    name: Coverage report
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2
      - name: Setup Java 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Make gradle wrapper script executable
        run: chmod +x gradlew
      - name: Upload JaCoCo report to Coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.coverallsRepoToken }}
        run: ./gradlew --warning-mode=all coveralls
